.card {
    width: 330px;
}

.title {
	color: var(--text-primary);
	font-size: var(--font-size-large);
	font-weight: 600;
    margin-bottom: 10px;
}

.totalSum {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: var(--text-primary);
	font-size: 18px;
	margin-bottom: 8px;
}

.totalValue {
	font-weight: bold;
}

.noItems {
	color: var(--text-secondary);
}

.addButton {
	margin-top: 20px;
}
