.title {
	color: var(--text-primary);
	font-size: 20px;
	font-weight: 600;
}

.totalSum {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: var(--text-primary);
	font-size: 18px;
	font-style: italic;
	margin-bottom: 8px;
}

.totalValue {
	font-weight: bold;
}

.noItems {
	color: var(--text-secondary);
}

.addButton {
	margin-top: 20px;
}
