.container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}

.sourceName,
.sourceValue,
.currency {
	color: var(--text-primary);
}

.sourceName,
.sourceValue {
	max-width: 100px;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sourceName {
	width: 70px;
	flex-shrink: 0;
}

.deleteIcon {
	color: var(--text-secondary);
	margin-left: 6px;
}
