.container {

}

.asset {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 2fr 2fr 2fr 2fr;
    align-items: center;
    justify-items: start;
}

.infoBlock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.assetName{
    grid-row: 1/2;
    color: var(--text-primary);
}

.buttonAddItem {
    grid-column: 1/-1
}

.assetAmount {
    width: 60px;
}