.container {

}

.asset {
    display: grid;
    grid-template: 1fr/1fr 1fr;
    align-items: start;
    justify-items: start;
    column-gap: 8px;
}

.infoBlock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.caption{
    margin-right: 8px;
}

.buttonAddItem {
    grid-column: 1/-1
}

.assetAmount {
    width: 60px;
}

.deleteIcon {
    padding: 4px;
}