.card {
	width: fit-content;
}

.header {
	margin-bottom: 10px;
}

.metaContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.bankName {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: var(--text-primary);
	font-size: 20px;
	font-weight: 600;
}

.bankTotalValue {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: var(--text-secondary);
	font-size: 12px;
	white-space: nowrap;
}

.addButton {
	margin-top: 20px;
}

.deleteIcon,
.deleteBank {
	color: var(--text-secondary);
}

.deleteBank {
	margin-left: 5px;
	font-size: 14px;
}
