.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	user-select: none;
    color: var(--text-primary);
}

.hiddenValue {
	white-space: nowrap;
	transition: all 0.3s ease;

	//filter: url(./pixel.svg#pixelate); TODO make more neat
}

.icon {
	margin-left: 5px;
	cursor: pointer;
    color: var(--text-secondary);
}

.plusSign {
	color: var(--icon-primary-green);
}

.minusSign {
	color: var(--text-primary);
}

.frozenSign {
	color: var(--icon-primary);
}

.currency {
	color: var(--text-secondary);
}

.small {
	font-size: 14px;
}

.medium {
	font-size: 18px;
}

.big {
	font-size: 20px;
}
