.container {
	display: grid;
    grid-template: 32px 400px 1fr/1fr 1fr;
    gap: 10px;
    align-items: start;
    justify-items: start;
	width: 1024px;
}

.header {
    grid-area: 1 / 1 / 2 / 2;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.currencyLabel {
    display: flex;
    align-items: center;
    align-self: center;
    font-size: var(--font-size-large);
}

.buttonGetState {
    grid-area: 3 / 1 / 4 / 2;
    margin-top: 20px;
    align-self: end;
}

.pieChart {
    grid-area: 2 / 2 / 3 / 3;
}

.barsChart {
    grid-area: 3 / 2 / 4 / 3;
}

.pieChartMainLegend {
    fill: var(--text-primary);
}

.chartsContainer {
    display: flex;
    flex-direction: column;
}