.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 1024px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.headerCaption {
	margin-right: 10px;
}

.getState {
	margin-top: 20px;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 400px;
	height: 500px;
	overflow-y: auto;
}

.listItem {
	padding: 4px 0;
}
