.container {
	display: grid;
    grid-template: 32px 1fr / 1fr 1fr;
    row-gap: 20px;
    align-items: start;
    justify-items: start;
	width: 1024px;
}

.header {
    grid-area: 1 / 1 / 2 / 2;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.headerCaption {
	margin-right: 10px;
}

.buttonGetState {
    grid-area: 2 / 1 / 3 / 2;
	margin-top: 20px;
    align-self: end;
}

.list {
    grid-area: 2 / 1 / 3 / 2;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	height: 500px;
	overflow-y: auto;
}

.listItem {
	padding: 4px 0;
}

.barsChart {
    grid-area: 2 / 2 / 3 / 3;
}