.caption {
	color: var(--text-primary);
}

.form {
	text-align: left;
}

.inputControls {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 16px;
}

.inputControl {
	display: inline-block;
	width: 200px;
	margin: 0;
}

.button {
	width: 100px;
}
