.text {
	color: var(--text-primary);
	font-size: var(--font-size-medium);
}

.secondary {
    color: var(--text-secondary);
}

.small {
	font-size: var(--font-size-small);
}

.big {
	font-size: var(--font-size-big);
}

.large {
	font-size: var(--font-size-large);
}
