.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 20px;
}

.menuFloor {
	display: flex;
	align-items: center;
	width: 100%;
	color: var(--text-primary);
}

.firstFloorMenu {
	@extend .menuFloor;

	justify-content: space-between;
	margin-bottom: 24px;
}

.secondFloorMenu {
	@extend .menuFloor;

	justify-content: space-between;
}

.caption {
	color: var(--text-primary);
	margin: 0;
}

.controls {
	display: flex;
	align-items: center;
}

.langSwitcher {
	color: var(--text-primary);
}

.logInOut {
	color: var(--text-primary);
}
