.container {
    background-color: var(--block-background);
    border-radius: 4px;
    padding: 20px;
}

.collapseContainer {
    width: 700px;
	background: transparent;
}

.collapsePanel {
	background: transparent;
	border: 1px solid var(--border-primary) !important;// TODO deal with ghost-mode when border-bottom is 0
}

.iconContainer {
	display: flex;
	align-items: center;
	background: transparent;

    .caret {
        font-size: 20px;
        color: var(--text-primary);
    }
}
