.date {
	display: block;
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	font-size: 16px;
}

.value {
	min-width: 150px;
}

.comment {
	display: block;
	color: var(--text-secondary);
	max-width: 260px;
    word-break: break-all;
	text-align: left;
	white-space: break-spaces;
	user-select: none;
}

.deleteIcon {
	color: var(--text-secondary);
}
