.container {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.date {
	display: block;
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	font-size: 16px;
}

.value {
	min-width: 150px;
}

.comment {
	color: var(--text-secondary);
}

.deleteIcon {
	color: var(--text-secondary);
}
