.date {
	display: block;
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	font-size: 16px;
}

.value {
	min-width: 150px;
}

.comment {
	display: block;
	width: fit-content;
	color: var(--text-secondary);
	max-width: 220px;
	text-align: left;
	text-overflow: ellipsis;
	overflow-x: hidden;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
}

.deleteIcon {
	color: var(--text-secondary);
}
