@import "~antd/dist/antd.css";

body {
	margin: 0;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Fira Sans",
		"Droid Sans",
		"Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family:
		source-code-pro,
		Menlo,
		Monaco,
		Consolas,
		"Courier New",
		monospace;
}

:root {
	--page-background: #f6f6f6;
	--block-background: #747474;
	--item-background: #444;
	--text-primary: #282c34;
	--text-primary-hover: #576072;
	--text-primary-active: #181b1f;
	--text-secondary: #38393b;
	--icon-primary: #2567ea;
	--icon-primary-hover: #6a96ee;
	--icon-primary-active: #18408f;
	--border-primary: #a9b9d9;
	--icon-primary-green: #4d860a;
	--font-size-small: 12px;
	--font-size-medium: 14px;
	--font-size-big: 16px;
	--font-size-large: 20px;
}

[data-theme="dark"] {
	--page-background: #282c34;
	--block-background: #34363b;
	--item-background: #1f1f1f;
	--text-primary: #f6f6f6;
	--text-primary-hover: #fff;
	--text-primary-active: #c7c7c7;
	--text-secondary: #5e5f60;
	--icon-primary: #3f7aef;
	--icon-primary-hover: #6a96ee;
	--icon-primary-active: #114bbd;
	--border-primary: #404652;
	--icon-primary-green: #91ea25;
}

[data-value-hidden="true"] {
	filter: blur(5px) grayscale(1);
}
